/.metadata/
/.recommenders/
/Day01People/nbproject/private/
/Day01Numbers/nbproject/private/
/Day01Numbers/build/
/Day02PeopleFromFile/nbproject/private/
/Day02PeopleFromFile/build/
/Day03TempWorkers/nbproject/private/
/Day03TempWorkers/build/
/Quiz1AirportTravel/nbproject/private/
/Quiz1AirportTravel/build/