/.metadata/
/.recommenders/
/Day01People/nbproject/private/
/Day01Numbers/nbproject/private/
/Day01Numbers/build/
/Day02PeopleFromFile/nbproject/private/
/Day02PeopleFromFile/build/
/Day03TempWorkers/nbproject/private/
/Day03TempWorkers/build/
/Quiz1AirportTravel/nbproject/private/
/Quiz1AirportTravel/build/
/Day05Temp/nbproject/private/
/Day05Temp/build/
/Day05SwingBegins/nbproject/private/
/Day05SwingBegins/build/
/Day06Friends/nbproject/private/
/Day06Friends/build/
/Day06Notepad/nbproject/private/
/Day06Notepad/build/
/Day06IceCream/nbproject/private/
/Day06IceCream/build/
/Day06Notepad/dist/
/TeacherNotePad/nbproject/private/
/Quiz2Travel/nbproject/private/
/Quiz2Travel/build/
/todoAppDB/nbproject/private/
/todoAppDB/build/
/todoAppDB/dist/
/Day11CarsDB/nbproject/private/
/Day11CarsDB/build/
/Day11PeopleSorting/nbproject/private/
/Day11PeopleSorting/build/
/Quiz3TravelPlans/nbproject/private/
/Quiz3TravelPlans/build/